<h1>Editing Airfield</h1>

<%= render 'form' %>

<div class="button-group">
  <%= link_to 'Back', airfields_path, method: :get, :class => "button tiny" %>
  <%= link_to 'Show', @airfield, method: :get, :class => "button success tiny" %>
</div>