<h1>Editing Airframe</h1>

<%= render 'form' %>

<div class="button-group">
  <%= link_to 'Back', airframes_path, method: :get, :class => "button tiny" %>
  <%= link_to 'Show', @airframe, method: :get, :class => "button success tiny" %>
</div>