<h1>Editing Joining Form</h1>

<%= render 'form' %>

<div class="button-group">
  <%= link_to 'Back', joining_forms_path, method: :get, :class => "button tiny" %>
  <%= link_to 'Show', @joining_form, method: :get, :class => "button success tiny" %>
</div>