<h1>Editing Pilot</h1>

<%= render 'form' %>

<div class="button-group">
  <%= link_to 'Back', pilots_path, method: :get, :class => "button" %>
  <%= link_to 'Show', @pilot, method: :get, :class => "button success" %>
</div>