<h1>Your application to join VAF has been received</h1>
<p>Thank you for your application <%= "#{@pilot.name}" %>.</p>
<p>A member of the admin staff will review your application shortly and will be in touch within 3 days.</p>
<p>If you need to contact a member of the admin staff in the meantime please email staff@virtualairforce.com</p>