<h1>Editing Action Report</h1>

<%= render 'form' %>

<div class="button-group">
  <%= link_to 'Back', action_reports_path, method: :get, :class => "button tiny" %>
  <%= link_to 'Show', @action_report, method: :get, :class => "button tiny success" %>
</div>