<p style="text-align:center;"><%= image_tag("vaf_logo.png") %></p>
<p style="text-align:center;">Coming soon!</P>
<p><a href="http://www.youtube.com/user/deephack">Deephack's Youtube Channel</a></P>
<a href="https://www.youtube.com/channel/UC73Bl7hZgqFmCcl1Hufj3Yg">dotChuckles Youtube Channel</a>