<h1>Join VAF!</h1>

<p class="text-justify">Thanks for your interest in pursuing a career with the Virtual Air Force. Spend some time on this page to have a look at the paths that you can take. You can decide what you would like to do, whether it’s a career as a fast jet pilot, or hold multiple qualifications across many airframes. You could even qualify as an air traffic controller or other support roles. There is sure to be something to grab your interest in one of our squadrons.</p>
<hr>
<h2>Your Career Starts Here</h2>
<p class="text-justify">Regardless of whether you want to fly jets, rotary wing, have a support role or do all three, everyone goes through Initial flight training*. As a member of 870(R) Squadron flying the two seat L-39C trainer you will be joined by an instructor for this phase of your career.</p>
<hr>
<h2>Ab Initio Training / Initial Flight Training</h2>
<p class="text-justify">Beginning with ground school where you will become familiar with our chosen RT software, Simple Radio Client, and install our custom mod, you will then move on to ab initio flight training with an instructor in the rear seat. They will train you to safely, accurately and tactically operate the aircraft, fly correct procedures in and around the airfield, navigate & communicate successfully and carry out a basic attack profile minimising risk to you and the aircraft.

On completion of a check ride you will be awarded your wings and can then choose what you would like to progress on to next!</p>
<hr>
<h2>Fixed Wing</h2>
<p class="text-justify">Forming the main fighting force of the Virtual Air Force, fixed wing operations are the core of what we do. Passing through the doors of an operational conversion unit, and then on to a front line squadron is a ticket to an exciting future that could see you patrolling the borders, intercepting airborne threats, supporting troops on the ground and gathering intelligence. The Virtual Air Force has four squadrons operating the F/A-18C, F-16C, A-10C and AV8B.

As we conduct our Air Defence Review, future aircraft such as the F/A-18 will modernise our capability and extend our operations well into the next decade.</p>
<hr>
<h2>Rotary Wing</h2>
<p class="text-justify">Coming soon!</p>
<hr>
<h2>Support Roles</h2>
<p class="text-justify">It takes more than pilots to keep the Virtual Air Force flying. We also need critical personnel such as air traffic controllers, aerospace battle managers and forward air controllers. The duties are normally carried out by pilots not flying, but there is no reason why you couldn’t make this your main focus. With rewards and progression to encourage you, make a career of being the all seeing “eye in the sky” directing the air battle. Or perhaps, safely controlling and moving our aircraft through our airspace and airfields. Or maybe you want to direct our combat aircraft to deliver ordnance on the target, and only the target.  </p>

<%= button_to 'Join', new_pilot_path, method: :get, :class => "button expand" %>