<h1 class="text-center">Crew Room</h1>
<div class="callout">
  <h4>Welcome to the crew room pilot</h4>
  <p>Above you will find access to your "Service History" where your log book and mission results are to be found. The "Ready Room" is where you will find the duty roster and SQINT. "Sierra Hotel" lists the acheivements of you and your fellow pilots and lastly "Stores" is where you will find all the downloads necessary to participate in VAF missions</p>
  <p><strong>Click on the VAF roundel at any time to return to this page</strong></p>
</div>
<h2>NOTAMS</h2>
<p>None</p>

<h2>Word of the day</h2>
<p>Ensure that your VAF repo is set up using the instructions for OvGME in Stores</p>
