<h1>Stores</h1>
<p>Please find below your mods and other downloads used by the VAF</p>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Version</th>
    <th>Link</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>OvGME</td>
      <td>The Generic Mod Enabler, used to download and manage DCS Mods</td>
      <td>1.7.1</td>
      <td><a href="http://www.ovoid.org/ovgme/downl.htm">http://www.ovoid.org/ovgme/downl.htm</a></td>
    </tr>
    <tr>
      <td>SRS</td>
      <td>Simple Radio Standalone for DCS World is a radio plugin which simulates realistic radio ops in DCS</td>
      <td>1.3.2.0</td>
      <td><a href="https://forums.eagle.ru/showpost.php?p=3125486&postcount=1487">https://forums.eagle.ru/showpost.php?p=3125486&postcount=1487</a></td>
    </tr>
  </tbody>
</table>
