<h1>Editing Squadron</h1>

<%= render 'form' %>

<%= button_to 'Show', @squadron, method: :get, :class => "button success" %>
<%= button_to 'Back', squadrons_path, method: :get, :class => "button" %>
