<h1>Editing Squadron</h1>

<%= render 'form' %>

<ul class="button-group">
  <li><%= button_to 'Back', squadrons_path, method: :get, :class => "button tiny" %></li>
  <li><%= button_to 'Show', @squadron, method: :get, :class => "button success tiny" %></li>
</ul>