<h1>Editing Squadron</h1>

<%= render 'form' %>

<div class="button-group">
  <%= link_to 'Back', squadrons_path, method: :get, :class => "button tiny" %>
  <%= link_to 'Show', @squadron, method: :get, :class => "button success tiny" %>
</div>