<h1>Editing Mission</h1>

<%= render 'form' %>

<div class="button-group">
  <%= link_to 'Back', missions_path, method: :get, :class => "button tiny" %>
  <%= link_to 'Show', @mission, method: :get, :class => "button tiny success" %>
</div>