<h1>Editing Airframe Type</h1>

<%= render 'form' %>

<div class="button-group">
  <%= link_to 'Back', airframe_types_path, method: :get, :class => "button tiny" %>
  <%= link_to 'Show', @airframe_type, method: :get, :class =>"button success tiny" %>
</div>